
/* font-family: "Rubik", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: "29LT";
    src: url("../fonts/29ltbukraregular.e050d364fd22.ttf");
  }
@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton-Regular.055c4df4e2f8.ttf");
}