.hero {
    height: calc(100dvh - 140px);
    font-family: '29LT', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.hero > .background {
    height: calc(100dvh - 140px);
    width: 60%;
    margin-top: 20px;
    height: 100%;
    position: absolute;
    left: -10%;
}

.hero__content {
    position: relative;
    height: 100%;
    display: flex;
    width: 90%;
    margin: auto;
}

.hero__image {
    display:flex;
    align-items: center;
    padding-left: 5%;
    width: 50%;
    height: 100%;
    margin-top: 160px;
}

.hero__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 50%;
}

.hero__text h1 {
    font-size: 4rem;
    color: var(--white);
    line-height: 1.4;
    margin-bottom: 40px;
    font-weight: 600;
}

.hero__text p {
    line-height: 2;
    color: var(--theme-main-color);
}

.hero__buttons {
    margin-top: 20px;
    padding-right: 5%;
    display: flex;
    gap: 32px;
}

.hero__buttons > * {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border-radius: 100vmax;
    text-decoration: none;
    font-weight: bold;
}

.hero__buttons > .register-button {
    border: 2px solid white;
    color: white;
}

.hero__buttons > .register-button:hover {
    background: var(--white);
    color: var(--black)
}

.hero__buttons > .login-button {
    color: black;
    background: var(--theme-main-color)
}

.hero__buttons > .login-button:hover {
    color: white;
    background: color-mix(in srgb, var(--theme-main-color) 80%, black 20%)
}

/*  */


.mm{
    display: flex;
}
.mm > *{
    color: white;
    font-family: '29LT', sans-serif;
}

.lowl {
    transform: rotateY(180deg) scale(.8);
}
.right2{
    position: relative;
    margin-top: 70px;

}
.sec_lowl{
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 190px;
    transform: rotate(60deg);
}


.left2{
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.left2 a{
    border: 3px solid var(--theme-main-color);
    padding: 10px 30px;
    font-size: 26px;
    font-weight: 700;
    transition: .4s;
}

.left2 a:hover{
    transform: scale(1.1);
}
.left2 div.words2{
    font-size: 27px;

    transform: translateY(150px);
    line-height: 44px;
    font-weight: 600;
}