main{

    display: flex;
    justify-content: center;
    gap: 40px   ;
    flex-wrap: wrap;
    padding: 100px ;
}

main a{
    display: flex;
    flex-direction: column; 
    transition: .4s;
    text-align: center;
} 
main a img{
   width: 100%;
}

a:hover{
    transform: scale(1.1);
}
